# Object files
*.o
*.elf
*.ihx
*.rel
*.lst
*.rst
*.lib

# Libraries
*.a
*.so

# sub-packages
toolchain
examples
gngeo
emudbg
qcrt-glsl

# autoconf's cache
ar-lib
compile
depcomp
missing
autom4te.cache
aclocal.m4
configure
config.*
install-sh

# Generated content
runtime/ngdevkit-specs
Makefile
build/
local/
rom/

# Config
Makefile.config
ngdevkit.pc

# Editors tmp
*~
\#*#
.#*
