# Object files
*.o
*.elf
*.ihx
*.rel

# Libraries
*.a
*.so

# Generated content
build/
local/
rom/
sprites/
*.c1
*.c2
*.pal
*/assets/*.bmp
*/assets/*.png

# Download area
toolchain/
!toolchain/README.md

# Config
Makefile.config

# Editors tmp
*~
\#*#
.#*
