# Object files
*.o
*.elf
*.ihx
*.rel

# Libraries
*.a
*.so

# sub-packages
toolchain
examples
gngeo
emudbg
qcrt-glsl

# autoconf's cache
autom4te.cache
aclocal.m4
configure
config.*
install-sh

# Generated content
Makefile
build/
local/
rom/

# Config
Makefile.config
ngdevkit.pc

# Editors tmp
*~
\#*#
.#*
